# Override some defaults so BT stack is enabled
# in this example

#
# Serial flasher config
#
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
# CONFIG_ESPTOOLPY_NO_STUB is not set
# CONFIG_ESPTOOLPY_OCT_FLASH is not set
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
# CONFIG_ESPTOOLPY_FLASHMODE_QOUT is not set
# CONFIG_ESPTOOLPY_FLASHMODE_DIO is not set
# CONFIG_ESPTOOLPY_FLASHMODE_DOUT is not set
CONFIG_ESPTOOLPY_FLASH_SAMPLE_MODE_STR=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
# CONFIG_ESPTOOLPY_FLASHFREQ_120M is not set
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
# CONFIG_ESPTOOLPY_FLASHFREQ_40M is not set
# CONFIG_ESPTOOLPY_FLASHFREQ_20M is not set
CONFIG_ESPTOOLPY_FLASHFREQ="80m"
# CONFIG_ESPTOOLPY_FLASHSIZE_1MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_2MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_8MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_32MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_64MB is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_128MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_BEFORE_RESET=y
# CONFIG_ESPTOOLPY_BEFORE_NORESET is not set
CONFIG_ESPTOOLPY_BEFORE="default_reset"
CONFIG_ESPTOOLPY_AFTER_RESET=y
# CONFIG_ESPTOOLPY_AFTER_NORESET is not set
CONFIG_ESPTOOLPY_AFTER="hard_reset"
# CONFIG_ESPTOOLPY_MONITOR_BAUD_CONSOLE is not set
# CONFIG_ESPTOOLPY_MONITOR_BAUD_9600B is not set
# CONFIG_ESPTOOLPY_MONITOR_BAUD_57600B is not set
# CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B is not set
# CONFIG_ESPTOOLPY_MONITOR_BAUD_230400B is not set
CONFIG_ESPTOOLPY_MONITOR_BAUD_921600B=y
# CONFIG_ESPTOOLPY_MONITOR_BAUD_2MB is not set
# CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER is not set
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=921600
# end of Serial flasher config

#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
# CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE is not set
# CONFIG_PARTITION_TABLE_TWO_OTA is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_two_ota_coredump.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_two_ota_coredump.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
# end of Partition Table

#
# Board Configuration
#
# CONFIG_EXAMPLE_BOARD_1 is not set
# CONFIG_EXAMPLE_BOARD_2 is not set
CONFIG_EXAMPLE_BOARD_3=y
# CONFIG_LV_TOUCH_CONTROLLER_GSL1680 is not set
CONFIG_LV_TOUCH_CONTROLLER_GSL2038=y
CONFIG_EXAMPLE_LCD_I80_CONTROLLER=y
# CONFIG_EXAMPLE_LCD_IIS_CONTROLLER is not set
# CONFIG_EXAMPLE_LCD_I80_CONTROLLER_ST7789 is not set
CONFIG_EXAMPLE_LCD_I80_CONTROLLER_ST7796=y
# CONFIG_EXAMPLE_LCD_I80_CONTROLLER_ILI9341 is not set
# CONFIG_EXAMPLE_LCD_I80_COLOR_IN_PSRAM is not set
CONFIG_EXAMPLE_LCD_I80_BUS_WIDTH=8
# end of Board Configuration

#
# RMT Configuration
#
CONFIG_EXAMPLE_IR_PROTOCOL_NEC=y
# CONFIG_EXAMPLE_IR_PROTOCOL_RC5 is not set
CONFIG_EXAMPLE_RMT_TX_GPIO=18
CONFIG_EXAMPLE_RMT_RX_GPIO=19
CONFIG_EXAMPLE_RMT_TX_CHANNEL=0
CONFIG_EXAMPLE_RMT_RX_CHANNEL=4
# end of RMT Configuration

#
# BT config
#
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n
CONFIG_BTDM_CTRL_PINNED_TO_CORE_0=y
CONFIG_BTDM_CTRL_PINNED_TO_CORE_1=n
CONFIG_BTDM_CTRL_PINNED_TO_CORE=0
CONFIG_BTDM_CTRL_HCI_MODE_VHCI=y
CONFIG_BTDM_CTRL_HCI_MODE_UART_H4=n
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_BLUEDROID_PINNED_TO_CORE_0=y
CONFIG_BT_BLUEDROID_PINNED_TO_CORE_1=n
CONFIG_BT_BLUEDROID_PINNED_TO_CORE=0
CONFIG_BT_BTC_TASK_STACK_SIZE=3072
CONFIG_BT_BLUEDROID_MEM_DEBUG=n
CONFIG_BT_CLASSIC_ENABLED=n
CONFIG_BT_GATTS_ENABLE=y
CONFIG_BT_GATTC_ENABLE=n
CONFIG_BT_BLE_SMP_ENABLE=n
CONFIG_BL_ENABLE_SRVCHG_REG=y
CONFIG_BT_STACK_NO_LOG=n
CONFIG_BT_ACL_CONNECTIONS=4
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=n
CONFIG_BT_BLE_DYNAMIC_ENV_MEMORY=n
CONFIG_BT_SMP_ENABLE=n
CONFIG_BT_BLE_BLUFI_ENABLE=y
CONFIG_MBEDTLS_HARDWARE_MPI=n


#
# lv_examples configuration
#
# CONFIG_LV_EX_PRINTF is not set
# CONFIG_LV_USE_DEMO_WIDGETS is not set
# CONFIG_LV_USE_DEMO_KEYPAD_AND_ENCODER is not set
CONFIG_LV_USE_DEMO_BENCHMARK=y
# CONFIG_LV_USE_DEMO_STRESS is not set
# end of lv_examples configuration

#
# LVGL configuration
#
# CONFIG_LV_ATTRIBUTE_FAST_MEM_USE_IRAM is not set
# CONFIG_LV_CONF_MINIMAL is not set
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_HOR_RES_MAX=320
CONFIG_LV_VER_RES_MAX=320
# CONFIG_LV_COLOR_DEPTH_32 is not set
CONFIG_LV_COLOR_DEPTH_16=y
# CONFIG_LV_COLOR_DEPTH_8 is not set
# CONFIG_LV_COLOR_DEPTH_1 is not set
CONFIG_LV_COLOR_DEPTH=16
# CONFIG_LV_COLOR_16_SWAP is not set
CONFIG_LV_ANTIALIAS=y
CONFIG_LV_DISP_DEF_REFR_PERIOD=20
CONFIG_LV_DPI=130
CONFIG_LV_DISP_SMALL_LIMIT=30
CONFIG_LV_DISP_MEDIUM_LIMIT=50
CONFIG_LV_DISP_LARGE_LIMIT=70

#
# Memory manager settings
#
CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEM_CUSTOM_INCLUDE="stdlib.h"
CONFIG_LV_MEM_CUSTOM_ALLOC="malloc"
CONFIG_LV_MEM_CUSTOM_FREE="free"
CONFIG_LV_MEMCPY_MEMSET_STD=y
# end of Memory manager settings

#
# Indev device settings
#
CONFIG_LV_INDEV_DEF_READ_PERIOD=30
CONFIG_LV_INDEV_DEF_DRAG_LIMIT=10
CONFIG_LV_INDEV_DEF_DRAG_THROW=10
CONFIG_LV_INDEV_DEF_LONG_PRESS_TIME=400
CONFIG_LV_INDEV_DEF_LONG_PRESS_REP_TIME=100
CONFIG_LV_INDEV_DEF_GESTURE_LIMIT=50
CONFIG_LV_INDEV_DEF_GESTURE_MIN_VELOCITY=3
# end of Indev device settings

#
# Feature usage
#
CONFIG_LV_USE_ANIMATION=y
CONFIG_LV_USE_SHADOW=y
CONFIG_LV_SHADOW_CACHE_SIZE=0
CONFIG_LV_USE_OUTLINE=y
CONFIG_LV_USE_PATTERN=y
CONFIG_LV_USE_VALUE_STR=y
CONFIG_LV_USE_BLEND_MODES=y
CONFIG_LV_USE_OPA_SCALE=y
CONFIG_LV_USE_IMG_TRANSFORM=y
CONFIG_LV_USE_GROUP=y
CONFIG_LV_USE_GPU=y
# CONFIG_LV_USE_GPU_STM32_DMA2D is not set
# CONFIG_LV_USE_GPU_NXP_PXP is not set
# CONFIG_LV_USE_GPU_NXP_VG_LITE is not set
CONFIG_LV_USE_FILESYSTEM=y
CONFIG_LV_USE_USER_DATA=y
# CONFIG_LV_USE_USER_DATA_FREE is not set
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_USE_API_EXTENSION_V6=y
CONFIG_LV_USE_API_EXTENSION_V7=y
# end of Feature usage

#
# Image decoder and cache
#
CONFIG_LV_IMG_CF_INDEXED=y
CONFIG_LV_IMG_CF_ALPHA=y
CONFIG_LV_IMG_CACHE_DEF_SIZE=1
# end of Image decoder and cache

#
# Compiler Settings
#
# CONFIG_LV_BIG_ENDIAN_SYSTEM is not set
# end of Compiler Settings

#
# HAL Settings
#
# CONFIG_LV_TICK_CUSTOM is not set
# end of HAL Settings

#
# Log Settings
#
# CONFIG_LV_USE_LOG is not set
# end of Log Settings

#
# Debug Settings
#
# CONFIG_LV_USE_DEBUG is not set
CONFIG_LV_USE_ASSERT_NULL=y
CONFIG_LV_USE_ASSERT_MEM=y
# CONFIG_LV_USE_ASSERT_MEM_INTEGRITY is not set
# CONFIG_LV_USE_ASSERT_STR is not set
# CONFIG_LV_USE_ASSERT_OBJ is not set
# CONFIG_LV_USE_ASSERT_STYLE is not set
# end of Debug Settings

#
# Font usage
#
# CONFIG_LV_FONT_FMT_TXT_LARGE is not set
# CONFIG_LV_USE_FONT_SUBPX is not set

#
# Enable built-in fonts
#
# CONFIG_LV_FONT_MONTSERRAT_8 is not set
# CONFIG_LV_FONT_MONTSERRAT_10 is not set
# CONFIG_LV_FONT_MONTSERRAT_12 is not set
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
# CONFIG_LV_FONT_MONTSERRAT_18 is not set
# CONFIG_LV_FONT_MONTSERRAT_20 is not set
# CONFIG_LV_FONT_MONTSERRAT_22 is not set
# CONFIG_LV_FONT_MONTSERRAT_24 is not set
# CONFIG_LV_FONT_MONTSERRAT_26 is not set
# CONFIG_LV_FONT_MONTSERRAT_28 is not set
# CONFIG_LV_FONT_MONTSERRAT_30 is not set
# CONFIG_LV_FONT_MONTSERRAT_32 is not set
# CONFIG_LV_FONT_MONTSERRAT_34 is not set
# CONFIG_LV_FONT_MONTSERRAT_36 is not set
# CONFIG_LV_FONT_MONTSERRAT_38 is not set
# CONFIG_LV_FONT_MONTSERRAT_40 is not set
# CONFIG_LV_FONT_MONTSERRAT_42 is not set
# CONFIG_LV_FONT_MONTSERRAT_44 is not set
# CONFIG_LV_FONT_MONTSERRAT_46 is not set
# CONFIG_LV_FONT_MONTSERRAT_48 is not set
# CONFIG_LV_FONT_UNSCII_8 is not set
# CONFIG_LV_FONT_UNSCII_16 is not set
# CONFIG_LV_FONT_MONTSERRAT12SUBPX is not set
# CONFIG_LV_FONT_MONTSERRAT28COMPRESSED is not set
# CONFIG_LV_FONT_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LV_FONT_SIMSUN_16_CJK is not set
# end of Enable built-in fonts

# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_8 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_10 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_12 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_14 is not set
CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_16=y
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_18 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_20 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_22 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_24 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_26 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_28 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_30 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_32 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_34 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_36 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_38 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_40 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_42 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_44 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_46 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT_48 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_UNSCII_8 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_UNSCII_16 is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT12SUBPX is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_MONTSERRAT28COMPRESSED is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LV_FONT_DEFAULT_SMALL_SIMSUN_16_CJK is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_8 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_10 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_12 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_14 is not set
CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_16=y
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_18 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_20 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_22 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_24 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_26 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_28 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_30 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_32 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_34 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_36 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_38 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_40 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_42 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_44 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_46 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT_48 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_UNSCII_8 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_UNSCII_16 is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT12SUBPX is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_MONTSERRAT28COMPRESSED is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LV_FONT_DEFAULT_NORMAL_SIMSUN_16_CJK is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_8 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_10 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_12 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_14 is not set
CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_16=y
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_18 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_20 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_22 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_24 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_26 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_28 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_30 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_32 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_34 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_36 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_38 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_40 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_42 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_44 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_46 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT_48 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_UNSCII_8 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_UNSCII_16 is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT12SUBPX is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_MONTSERRAT28COMPRESSED is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LV_FONT_DEFAULT_SUBTITLE_SIMSUN_16_CJK is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_8 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_12 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_14 is not set
CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_16=y
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_18 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_20 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_22 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_24 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_26 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_28 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_30 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_32 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_34 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_36 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_38 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_40 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_42 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_44 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_46 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT_48 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_UNSCII_8 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_UNSCII_16 is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT12SUBPX is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_MONTSERRAT28COMPRESSED is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LV_FONT_DEFAULT_TITLE_SIMSUN_16_CJK is not set
# end of Font usage

#
# Theme usage
#

#
# Enable theme usage, always enable at least one theme
#
# CONFIG_LV_THEME_EMPTY is not set
# CONFIG_LV_THEME_TEMPLATE is not set
CONFIG_LV_THEME_MATERIAL=y
# CONFIG_LV_THEME_MONO is not set
# end of Enable theme usage, always enable at least one theme

# CONFIG_LV_THEME_DEFAULT_INIT_EMPTY is not set
# CONFIG_LV_THEME_DEFAULT_INIT_TEMPLATE is not set
CONFIG_LV_THEME_DEFAULT_INIT_MATERIAL=y
# CONFIG_LV_THEME_DEFAULT_INIT_MONO is not set
CONFIG_LV_THEME_DEFAULT_COLOR_PRIMARY=0xFF0000
CONFIG_LV_THEME_DEFAULT_COLOR_SECONDARY=0x0000FF
CONFIG_LV_THEME_DEFAULT_FLAG_LIGHT=y
# CONFIG_LV_THEME_DEFAULT_FLAG_DARK is not set
# end of Theme usage

#
# Text Settings
#
CONFIG_LV_TXT_ENC_UTF8=y
# CONFIG_LV_TXT_ENC_ASCII is not set
CONFIG_LV_TXT_BREAK_CHARS=" ,.;:-_"
CONFIG_LV_TXT_LINE_BREAK_LONG_LEN=0
CONFIG_LV_TXT_COLOR_CMD="#"
# CONFIG_LV_USE_BIDI is not set
# CONFIG_LV_USE_ARABIC_PERSIAN_CHARS is not set
# CONFIG_LV_SPRINTF_CUSTOM is not set
# CONFIG_LV_SPRINTF_DISABLE_FLOAT is not set
# end of Text Settings

#
# Widgets
#
CONFIG_LV_USE_OBJ_REALIGN=y
# CONFIG_LV_USE_EXT_CLICK_AREA_OFF is not set
CONFIG_LV_USE_EXT_CLICK_AREA_TINY=y
# CONFIG_LV_USE_EXT_CLICK_AREA_FULL is not set
CONFIG_LV_USE_ARC=y
CONFIG_LV_USE_BAR=y
CONFIG_LV_USE_BTN=y
CONFIG_LV_USE_BTNMATRIX=y
CONFIG_LV_USE_CALENDAR=y
# CONFIG_LV_CALENDAR_WEEK_STARTS_MONDAY is not set
CONFIG_LV_USE_CANVAS=y
CONFIG_LV_USE_CHECKBOX=y
CONFIG_LV_USE_CHART=y
CONFIG_LV_CHART_AXIS_TICK_MAX_LEN=256
CONFIG_LV_USE_CONT=y
CONFIG_LV_USE_CPICKER=y
CONFIG_LV_USE_DROPDOWN=y
CONFIG_LV_DROPDOWN_DEF_ANIM_TIME=200
CONFIG_LV_USE_GAUGE=y
CONFIG_LV_USE_IMG=y
CONFIG_LV_USE_IMGBTN=y
# CONFIG_LV_IMGBTN_TILED is not set
CONFIG_LV_USE_KEYBOARD=y
CONFIG_LV_USE_LABEL=y
CONFIG_LV_LABEL_DEF_SCROLL_SPEED=25
CONFIG_LV_LABEL_WAIT_CHAR_COUNT=3
# CONFIG_LV_LABEL_TEXT_SEL is not set
# CONFIG_LV_LABEL_LONG_TXT_HINT is not set
CONFIG_LV_USE_LED=y
CONFIG_LV_LED_BRIGHT_MIN=120
CONFIG_LV_LED_BRIGHT_MAX=255
CONFIG_LV_USE_LINE=y
CONFIG_LV_USE_LIST=y
CONFIG_LV_LIST_DEF_ANIM_TIME=100
CONFIG_LV_USE_LINEMETER=y
CONFIG_LV_LINEMETER_PRECISE_NO_EXTRA_PRECISION=y
# CONFIG_LV_LINEMETER_PRECISE_SOME_EXTRA_PRECISION is not set
# CONFIG_LV_LINEMETER_PRECISE_BEST_PRECISION is not set
CONFIG_LV_USE_OBJMASK=y
CONFIG_LV_USE_MSGBOX=y
CONFIG_LV_USE_PAGE=y
CONFIG_LV_PAGE_DEF_ANIM_TIME=100
CONFIG_LV_USE_SPINNER=y
CONFIG_LV_SPINNER_DEF_ARC_LENGTH=60
CONFIG_LV_SPINNER_DEF_SPIN_TIME=1000
CONFIG_LV_SPINNER_TYPE_SPINNING_ARC=y
# CONFIG_LV_SPINNER_TYPE_FILLSPIN_ARC is not set
# CONFIG_LV_SPINNER_TYPE_CONSTANT_ARC is not set
CONFIG_LV_USE_ROLLER=y
CONFIG_LV_ROLLER_DEF_ANIM_TIME=200
CONFIG_LV_ROLLER_INF_PAGES=7
CONFIG_LV_USE_SLIDER=y
CONFIG_LV_USE_SPINBOX=y
CONFIG_LV_USE_SWITCH=y
CONFIG_LV_USE_TEXTAREA=y
CONFIG_LV_TEXTAREA_DEF_CURSOR_BLINK_TIME=400
CONFIG_LV_TEXTAREA_DEF_PWN_SHOW_TIME=1500
CONFIG_LV_USE_TABLE=y
CONFIG_LV_TABLE_COL_MAX=12
CONFIG_LV_TABLE_CELL_STYLE_CNT=4
CONFIG_LV_USE_TABVIEW=y
CONFIG_LV_TABVIEW_DEF_ANIM_TIME=300
CONFIG_LV_USE_TILEVIEW=y
CONFIG_LV_TILEVIEW_DEF_ANIM_TIME=300
CONFIG_LV_USE_WIN=y
# end of Widgets
# end of LVGL configuration

#
# Qmsd board select
#
CONFIG_WT32_SC01=y
# CONFIG_WT154_S2MI1 is not set
# CONFIG_WT154_C3SI1 is not set
# CONFIG_WT_86_32_3ZW0 is not set
# CONFIG_WT_86_32_3ZW1 is not set
# CONFIG_WT280_S2MX1 is not set
# CONFIG_WT240_C3SI1 is not set
# CONFIG_WT_0_S2_240MW1 is not set
# CONFIG_ZX4D30NE01S_UR_4827 is not set
# CONFIG_ZX3D95CE01S_UR_4848 is not set
# CONFIG_ZX3D95CE01S_AR_4848 is not set
# CONFIG_ZX3D50CE02S_USRC_4832 is not set
# CONFIG_ZX3D92CE01S_cGS01_AR_3232 is not set
# CONFIG_ZX2D10ECS_cESCP01 is not set
# CONFIG_ZX4D60_AR_4896 is not set
# CONFIG_ZX210_S3MLW1 is not set
# CONFIG_CUSTOM_LCD is not set
CONFIG_SCREEN_ROLL_0=y
# CONFIG_SCREEN_ROLL_1 is not set
# CONFIG_SCREEN_ROLL_2 is not set
# CONFIG_SCREEN_ROLL_3 is not set
# end of Qmsd board select

